---
import { Icon } from "astro-icon/components";
import { spokenLanguages } from "../../data/spoken-languages";
import type { Translations } from "../../i18n/types";

interface Props {
  t: Translations;
}

const { t } = Astro.props;
---

<div class="flex flex-col gap-1">
  <p class="text-[13px] font-semibold">{t.spokenLanguages}</p>
  <div class="flex flex-col gap-1">
    {
      spokenLanguages.map((lang) => (
        <div class="flex items-center gap-2 text-[11px]">
          <Icon name={lang.icon} class="text-[14px]" />
          <span class="dark:text-gray-300 text-gray-700">
            {t.languageNames[lang.nameKey]}
          </span>
          <span class="text-[10px] dark:text-gray-500 text-gray-400">
            ({lang.level})
          </span>
        </div>
      ))
    }
  </div>
</div>
