@import "config/fonts";
@import "print";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  font-family: "Inter", sans-serif;
  @apply overflow-x-hidden dark:bg-slate-950 bg-white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0284c7 #e0f2fe;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-sky-600 rounded-full;
  }

  &::-webkit-scrollbar-track {
    @apply bg-sky-100 rounded-full;
  }
}

.dark * {
  scrollbar-color: #7dd3fc #0f172a;

  &::-webkit-scrollbar-thumb {
    @apply bg-sky-300 rounded-full;
  }

  &::-webkit-scrollbar-track {
    @apply bg-slate-900 rounded-full;
  }
}

.highlight {
  @apply dark:text-sky-200 text-sky-600 opacity-75 hover:opacity-100 transition-all duration-300 cursor-default;
}
