---
import { experiences } from "../../data/experiences";
import Item from "./Item.astro";
import SectionHeading from "../SectionHeading.astro";
import type { Translations } from "../../i18n/types";
import type { Locale } from "../../lib/site";

interface Props {
  t: Translations;
  locale: Locale;
}

const { t, locale } = Astro.props;
const reversed = [...experiences].reverse();
---

<section
  id="experiences"
  class="py-12 md:py-16 scroll-mt-12"
  data-fade-on-scroll
>
  <SectionHeading label={t.experiences} />

  <ol
    class="mt-10 relative md:pl-7 flex flex-col gap-10 md:gap-14"
    data-experience-list
  >
    <span
      class="hidden md:block absolute left-1 top-2 bottom-2 w-px rail-line"
      aria-hidden="true"></span>

    {
      reversed.map((item) => (
        <li class="experience-item text-sky-700 dark:text-sky-300">
          <Item item={item} t={t} locale={locale} />
        </li>
      ))
    }
  </ol>
</section>
